.Profile {
  .intro {
    font-size: 1.5rem;
    font-weight: 100;
  }

  ul {
    margin: 2rem 0;

    li {
      width: 100%;
      .url {
        opacity: 0.3;
        text-decoration: underline;
        opacity: 0.3s;
      }

      &:hover .url{
        opacity: 1;
      }
    }
  }
}