.Skill {
  ul {    
    li {
      h3 {
        font-size: 1.2rem;
        font-weight: 100;
        margin: 0;
      }

      p {
        font-size: 0.95rem;
        padding-left: 1rem;
        margin: 0.5rem 0 0.7rem 0;
      }
    }
  }
}