@import "./style/colors";

html {scroll-behavior: smooth;}

.App {
  background-color: $basic;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
  font-family: CoreDream;
  font-weight: 100;
  padding-top: 13rem;
  transition: 0.3s;

  .main {
    max-width: 800px;
    margin: auto;
  }

  .section {
    margin-top: 7rem;
  }

  .footer {
    border-top: 1px solid;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.3rem;
    font-weight: 900;

    span {
      font-size: 1.1rem;
      font-weight: 100;
      margin-left: 0.3rem;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: white;
  }

  &.white {
    color: $basic;
    background-color: white;

    a {
      color: $basic;
    }

    .Button {
      &:hover {
        background-color: darken(white, 20%);
      }
    }
  }
}